#node environment config
NODE_ENV="development"
PORT=5000

#frontend config
FRONTEND_URL=
DEV_FRONTEND_URL=http://localhost:5173

#MySQL DB CONFIG
DB_USER=
DB_HOST=
DB_DATABASE=
DB_PASSWORD=
DB_PORT=3306

# JWT config
JWT_SECRET=

# Resend API config
RESEND_API_KEY=
