@import url('https://fonts.googleapis.com/css2?family=Loved+by+the+King&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

@import "tailwindcss";


:root {
  --primary-color: #2563eb; 
  --primary-color-hover: #1d4ed8; 
}


@theme {
  --color-primary: var(--primary-color);
}

*, .nav-text{
    font-family: cursive;
}

.nav_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vh;
  height: 80px;
  padding: 15px 20px 15px 20px ;
  border-radius: 100px;
  background-color: var(--primary-color);
  backdrop-filter: blur(10px);

}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  z-index: 1;
  font-weight: 400;
}

/* .navbar:hover{
  cursor: pointer;
  color:white;
  background-color: rgb(228, 119, 10);
  padding: 3px;
  border-radius: 100px;
  transition-duration: 500ms;
} */

.navbar:hover{
  color:coral;
}